$font-size: 34px;

.ms-button{
    font-size: $font-size;
    padding: 7px 10px;
    background-color: skyblue;
    color: #fff;
    background-image: url('../../assets/img01.jpg');
    background-size: 100px 100px;
}